*{
    padding: 0;
    margin: 0;
    font-family: Verdana;
}
body{
    background-color: black;
}
.panel1{
    background-image: url("assets/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(2000px, 100vw);
    height: 95vh;
    position: relative;
}
.panel1 .box{
    height: 100vh;
    width: 100%;
    top: 0;
    bottom: 1200;
    background-color: black;
    opacity: 0.6;
    position: absolute;
}
.Language{
    background-color: rgba(0,0,0,0.4);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px ;
    font-size: 14px;
    border-color: white;
    border-radius: 6px;
    margin-right: 20px;
    width: 100px;
    height: 32px;
    
}

.SignIn{
    background-color: rgba(0,0,0,0.4);
    color: white;
    background-color: red;
    outline: none;
    padding: 3px 10px;
    font-size: 14px;
    border-color: red;
  
    border-radius: 6px;
    height: 32px;
    width: 75px;
}
nav{
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px ;
}
nav img{
    margin-top: 20px;
    color: red;
    width: 150px;
    position: relative;
    z-index: 10;
}
nav button{
    margin-top: 20px;
    position: relative;
    z-index: 10;
    font-size: 1rem;

}
.txt{
    height: calc(100% - 62px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 25px;
    padding: 0 25px;
    text-align: center;
}

.txt> :first-child{
    font-size: 40px;
    font-weight: bolder;
   
}

.txt> :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
  
}
.txt> :nth-child(3) {
    font-size: 18px;
    font-weight: 400;

}
.getstarted{
    background-color: rgba(0,0,0,0.4);
    color: white;
    background-color: red;
    outline: none;
    font-size: 1.1rem;
    font-weight: 600;
    border-color: red;
    border-radius: 6px;
    height:  3rem;
    width: 170px;
}
.email{
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 3px 10px;
    font-size: 14px;
    border-color: white;
    border-radius: 6px;
    height: 2.5rem;
    min-width: 360px;
    margin-right: 7px;
}

.line{
    height: 9px;
    background-color: rgb(44, 42, 42);
}

.panel2{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 80px;
}
.txt{
    gap: 20px;
    padding-left: 40px;
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
}

.txt>:first-child{
    font-size: 35px;
    font-weight: 800;
} 
.txt>:nth-child(2){
    font-size: 20px;
    font-weight: 400;
} 
/* .img video{
    position: absolute;
    top: 685px;
    right: 171px;
    height: 260px;
    z-index: 0;
} */
.faq{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faq h2{
    margin: 70px 0px 20px 0px;
    display: flex;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    color: white;
}
.faqbx{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin: auto;
    font-size: 20px;
    color: white;
    font-weight: 560;
    width: 60vw;
    height: 60px;
    display: flex;
    margin: 20px 0px;
    
    background-color: rgb(58, 58, 58);
}

.faqbx:hover{
    cursor: pointer;
    background-color: rgb(86, 86, 86);
}

.ready{
    margin: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    margin-top: 20px;
}

.foot-panel1{
    
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}

.foot-panel1 a{
    color: white;
}

.foot-panel2{
    color: white;
    height: 400px;
    display: flex;
    justify-content: space-evenly;

}
ul p{
    font-size: smaller;
    font-weight: 600;
    opacity: 0.5;
}

ul{
    margin: 60px;
}
ul a{
    padding-top: 10px;
    color: #DDDDDD;
    display: block;
    margin-top: 10px;
    font-size: 0.90rem;
}
